@use '../../styles/variables' as v;

.counter-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1.5rem;
  width: 20vw;
  text-align: left;
  padding: 0.8rem;
  border-radius: 5px;
  background-color: v.$color-default-element-bg;
  justify-content: center;
}

.message-great-job {
  font-size: 1.2rem;
  font-weight: bolder;
}
