// colors
$color-default-main: #1b2a41;
$color-default-bg: #e8e8e8;
$color-default-text-darker-bg: #e8e8e8;
$color-default-text-lighter-bg: #0c1821;
$color-default-btn: #1b2a41;
$color-default-btn-hover: #324a5f;
$color-default-element-bg: #ccc9dc;

$color-default-textIsInactive: #999;
$color-default-elementIsInactive: #bebebe;

// borders

// colors

// 000000
// 0C1821
// 1B2A41
// 324A5F
// CCC9DC
